<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.LogOperInfoMapper">
    <resultMap id="BaseResultMap" type="com.sky.domain.LogOperInfo">
        <!--@mbg.generated-->
        <!--@Table log_oper_info-->
        <id column="oper_id" jdbcType="BIGINT" property="operId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="business_type" jdbcType="CHAR" property="businessType"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="operator_type" jdbcType="CHAR" property="operatorType"/>
        <result column="oper_by" jdbcType="BIGINT" property="operBy"/>
        <result column="oper_url" jdbcType="VARCHAR" property="operUrl"/>
        <result column="oper_ip" jdbcType="VARCHAR" property="operIp"/>
        <result column="oper_location" jdbcType="VARCHAR" property="operLocation"/>
        <result column="oper_param" jdbcType="VARCHAR" property="operParam"/>
        <result column="json_result" jdbcType="VARCHAR" property="jsonResult"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
        <result column="oper_time" jdbcType="TIMESTAMP" property="operTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        oper_id, title, business_type, `method`, request_method, operator_type, oper_by,
        oper_url, oper_ip, oper_location, oper_param, json_result, `status`, error_msg, oper_time
    </sql>
    <select id="getDataDays" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( oper_time, '%m-%d' ) days,
        count(*) count
    FROM
        (
        SELECT
            *
        FROM
            log_oper_info
        WHERE
            DATE_SUB( CURDATE( ), INTERVAL 6 DAY ) &lt;= date( oper_time )
            AND business_type = '4'
            AND `status` = '0'
        ) AS login
    GROUP BY
        days;
    </select>
    <select id="getLoginCount" resultType="java.lang.Integer">
        SELECT
            count( 1 )
        FROM
            log_oper_info
        WHERE
            business_type = 4
            AND `status` = 0
    </select>
    <select id="getOperDataDays" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( oper_time, '%m-%d' ) days,
        count(*) count
    FROM
        (
        SELECT
            *
        FROM
            log_oper_info
        WHERE
            DATE_SUB( CURDATE( ), INTERVAL 6 DAY ) &lt;= date( oper_time )
            AND operator_type = '2'
        ) AS login
    GROUP BY
        days;
    </select>
    <select id="getPieChartDTO" resultType="com.sky.dto.DataDTO">
        SELECT
            `status` days,
            count( 1 ) count
        FROM
            time_task
        WHERE
            user_id = #{userId}
        GROUP BY
            `status`
    </select>
    <select id="columnChart" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( end_time, '%m-%d' ) days,
        count(*) count
    FROM
        ( SELECT * FROM time_task WHERE DATE_SUB( CURDATE( ), INTERVAL 6 DAY ) &lt;= date( end_time ) AND user_id = #{userId} ) AS task
    GROUP BY
        days;
    </select>
    <select id="lineChartSimple" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( done_time, '%m-%d' ) days,
        count(*) count
    FROM
        (
        SELECT
            *
        FROM
            time_task
        WHERE
            DATE_SUB( CURDATE( ), INTERVAL 6 DAY ) &lt;= date( done_time )
            AND user_id = #{userId}
            AND `status` = 2
        ) AS task
    GROUP BY
        days;
    </select>
    <select id="getTaskCountEachMonth" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( end_time, '%Y/%m' ) days,
        count(*) count
    FROM
        (
            SELECT
                *
            FROM
                time_task
            WHERE
                concat(year(now()),'-01-01') &lt;= date( end_time )
            AND user_id = #{userId}
        ) AS task
    GROUP BY
        days;
    </select>
    <select id="getJournalCountEachMonth" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( create_time, '%Y/%m' ) days,
        count(*) count
    FROM
        (
            SELECT
                *
            FROM
                time_journal
            WHERE
                concat(year(now()),'-01-01') &lt;= date( create_time )
            AND user_id = 3
        ) AS task
    GROUP BY
        days;
    </select>
    <select id="getEventCountEachMonth" resultType="com.sky.dto.DataDTO">
    SELECT
        DATE_FORMAT( start_date, '%Y/%m' ) days,
        count(*) count
    FROM
        (
            SELECT
                *
            FROM
                time_event
            WHERE
                concat(year(now()),'-01-01') &lt;= date( start_date )
            AND user_id = #{userId}
        ) AS task
    GROUP BY
        days;
    </select>
</mapper>