<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.TimeMusicMapper">
  <resultMap id="BaseResultMap" type="com.sky.domain.TimeMusic">
    <!--@mbg.generated-->
    <!--@Table time_music-->
    <id column="music_id" jdbcType="BIGINT" property="musicId" />
    <result column="music_name" jdbcType="VARCHAR" property="musicName" />
    <result column="music_url" jdbcType="VARCHAR" property="musicUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    music_id, music_name, music_url, pic_url, create_by, create_time, update_by, update_time, 
    `status`
  </sql>
</mapper>